<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smh_medicaldevicescan_library">

    <application>
        <activity android:name=".CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".CameraAssistantActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>